идфссh1 {
    border-radius: 30px;
    border: 2px solid red;
    background-color: rgb(160, 160, 253);
    color: black;
    text-align: center;
}
.vz {
background-color: yellow;
color: black;
}
.h2 {
    background-color: yellow;
    color: rgb(2, 102, 2);
    text-align: center;
}
.img1 {
width: 600px;
height: 350px;
 
}
.img {
    width: 600px;
    height: 350px;
}
.hy {
    color: red;
}
.by {
    color: rgb(2, 102, 2);
}
.ifr {
    width: 100%;
    background-color: black;
    border-radius: 15px;

}
.inp {
    width: 340px;
    height: 30px;
    background-color: rgb(85, 85, 150);
    color: white;
    border: none;
    font-size: 20px;
}
.tab {
    width: 90%;
    
    border: 0.2px solid white;
  
}
.green {
    background-color: green;
    color: white;
}
.blue {
    background-color: blue;
    color: white;
}
.red {
    background-color: red;
    color: white;
    text-align: center;
}
.black {
    background-color: black;
    color: white;
    text-align: center;
}